ul {
  height: 60px;
  background-color: rgb(155, 155, 155);
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    margin: 0 16px;
    a {
      text-decoration: none;
      color: black;
      &:hover {
        color: rgb(13, 0, 255);
      }
    }
  }
}

main {
  margin: 16px;
}